.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__game {
  width: 270px;
  height: 400px;
  padding: 7px;
  background-color: #BDBDBD;
}

.app__fields {
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
}

.app__fields-finish {
  pointer-events: none;
}

.app__field {
  width: 16px;
  height: 16px;
  background-image: url(../assets/sprite.png);
  background-position: 0px 32px;

  &:active {
    background-position: -17px 33px;
  }
}

.cell__open {
  background-image: url(../assets/sprite.png);
  background-position: 122px 33px;
}
.cell__mine-active {
  background-image: url(../assets/sprite.png);
  background-position: 37px 33px;
}
.cell__mine-unactive {
  background-image: url(../assets/sprite.png);
  background-position: 54px 33px
}
.cell__mine-detected {
  background-position: 159px 33px
}
.cell__mark  {
  background-image: url(../assets/sprite.png);
  background-position: 105px 32px;
}
.cell__question {
  background-image: url(../assets/sprite.png);
  background-position: 208px 32px;
}
.app__game-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #C0C0C0;
}
.game__mines-tables {
  display: flex;
}
.game__mines-table {
  width: 13px;
  height: 23px;
  background-image: url(../assets/sprite.png);
  background-position: 0px 0px;
}
.game__timer {
  display: flex;
}

.game__control {
  width: 26px;
  height: 26px;
  background-image: url(../assets/sprite.png);
  background-position: 0px 60px;

  &:active {
    background-position: -27px 60px;
  }
}

.game__control_loose {
  background-position: -108px 60px;
}
.game__control_win {
  background-position: 58px 60px;
}

.active {
  background-position: -17px 33px;
}