body {
  background-color: #121212;
}

//* app
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app__game {
  width: 282px;
  padding: 7px;
  margin-top: 40px;
  background-color: #BDBDBD;
  position: relative;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  border-style: solid;
  border-width: 3px;
  transform: scale(2);
}
.app__fields {
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
  border-width: 3px;
}
.app__fields-finish {
  pointer-events: none;
}

//* cells
.app__field {
  width: 16px;
  height: 16px;
  background-image: url(../assets/sprite.png);
  background-position: 0px 33px;
}
.app__field-active {
  background-position: -17px 33px;
}
.cell__open {
  background-image: url(../assets/sprite.png);
  background-position: 122px 33px; 
  cursor:auto;
}
.cell__mine-active {
  background-image: url(../assets/sprite.png);
  background-position: 37px 33px;
}
.cell__mine-unactive {
  background-image: url(../assets/sprite.png);
  background-position: 54px 33px
}
.cell__mine-detected {
  background-position: 159px 33px
}
.cell__mark  {
  background-image: url(../assets/sprite.png);
  background-position: 105px 33px;
}
.cell__question {
  background-image: url(../assets/sprite.png);
  background-position: 210px 33px;
}
.app__game-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #C0C0C0;
  border-color: #7b7b7b #fff #fff #7b7b7b;
  border-style: solid;
  border-width: 3px;
}
.game__mines-tables {
  display: flex;
}
.game__mines-table {
  width: 13px;
  height: 23px;
  background-image: url(../assets/sprite.png);
  background-position: 0px 0px;
}

//* control
.game__timer {
  display: flex;
}
.game__control {
  width: 26px;
  height: 26px;
  background-image: url(../assets/sprite.png);
  background-position: 0px 60px;

  &:active {
    background-position: -27px 60px;
  }
}
.game__control_scared {
  background-position: 85px 60px;
}
.game__control_loose {
  background-position: -108px 60px;
}
.game__control_win {
  background-position: 58px 60px;
}
.active {
  background-position: -17px 33px;
}
